h1 {
    font-size: 90px;
    color: red;
    margin: 0;
    line-height: 1;
    padding: 0;
}

 nav {
    width: 100%;
    color: white;
    text-decoration-color: white;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: black;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 0px;  // looks like bootstrap is putting a left margin on your #nav you may want it off.

}

nav li {
   display: inline-block;
   text-align:center;
}

#content {
  margin: 50px;
  padding: 10px;
}

:hov


.cls

element.style {
}

a:visited {
    color: white;
}

a {
    color: red;
    font-weight: bold;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
Inherited from body#index
body {
    font-family: Arial, sans-serif;
    color: #5f5f5f;
    letter-spacing: 2px;
}

body {
    font-family:Arial, Verdana, sans-serif;
    font-size: 12px;
    margin:0px !important;
}
